<h2 class="h3 mb-4">Project - Personal</h2>
<div class="timeline">
    {% for project in site.data.projectList %}
        {% if project.identity == "personal" %}
        <div class="timeline-card timeline-card-red card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">{{ project.name }}<span class="text-muted h6"> as {{ project.position }}</span></div>
                <div class="text-muted text-small mb-2">{{ project.from }} - {{ project.to }}</div>
                <div>{{ project.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<hr class="d-print-none"/>
<h2 class="h3 mb-4">Project - Work</h2>
<div class="timeline">
    {% for project in site.data.projectList %}
        {% if project.identity == "work" %}
        <div class="timeline-card timeline-card-red card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">{{ project.name }}<span class="text-muted h6"> as {{ project.position }}</span></div>
                <div class="text-muted text-small mb-2">{{ project.from }} - {{ project.to }}</div>
                <div>{{ project.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<hr class="d-print-none"/>
<h2 class="h3 mb-4">Project - Student</h2>
<div class="timeline">
    {% for project in site.data.projectList %}
        {% if project.identity == "student" %}
        <div class="timeline-card timeline-card-yellow card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">{{ project.name }}<span class="text-muted h6"> as {{ project.position }}</span></div>
                <div class="text-muted text-small mb-2">{{ project.from }} - {{ project.to }}</div>
                <div>{{ project.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>