<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="{{ page.redirect_to }}{{ 'now' | date: '%Y%m%d%H%M%S' }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url={{ page.redirect_to }}{{ 'now' | date: '%Y%m%d%H%M%S' }}" />
</head>
<body>
    <h1>Redirecting...</h1>
      <a href="{{ page.redirect_to }}{{ 'now' | date: '%Y%m%d%H%M%S' }}">Click here if you are not redirected.<a>
      <script>
        location='{{ page.redirect_to }}' + e1();
        function e1() {
            var u='',i=0;
            while(i++<36) {
                var c='xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'[i-1],r=Math.random()*16|0,v=c=='x'?r:(r&0x3|0x8);
                u+=(c=='-'||c=='4')?c:v.toString(16)
            }
            return u;
        }
      </script>
</body>
</html>